---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=novideo&key=AIzaSyDqGdVzllC-lXsGCgqIPjg15mI2AVolW-M&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Agg_AJE1TyhX8kUKlYNIvjtfysI/FoCsU7yzN8iy5FBrKm0m_B4IVLI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"Agg_AJE1TyhX8kUKlYNIvjtfysI/FoCsU7yzN8iy5FBrKm0m_B4IVLI\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 0
         },
         "items": []
        }
  recorded_at: Mon, 30 Sep 2013 21:48:18 GMT
recorded_with: VCR 2.6.0
